body { 
    margin: 0;  
  }

  .quiltGrid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 100vh;                         
    width: 100%;                          
}


.quiltGrid-image {
    background-size: cover; 
    background-position: center; 
}

.image1 { background-image: url('pattern2.jpg'); }
.image2 { background-image: url('pattern.jpg'); }
.image3 { background-image: url('pattern2.jpg'); }
.image4 { background-image: url('pattern.jpg'); } 
.image5 { background-image: url('pattern2.jpg'); }
.image6 { background-image: url('pattern.jpg');} 
.image7 { background-image: url('pattern2.jpg'); }
.image8 { background-image: url('pattern.jpg'); } 
.image9 { background-image: url('pattern2.jpg'); }
.image10 { background-image: url('pattern.jpg'); }
.image11 { background-image: url('pattern2.jpg'); } 
.image12 { background-image: url('pattern.jpg'); }


